/* varaiables matchin tachyons-sass variable names  */ 
$light-gray: #eeeeee;
$dark-gray: #333;
$near-black: #333;

$dark-blue: #075f68;
$light-blue: #52ebff;

$yellow: #ffce55;
$dark-yellow: #eab849;
$light-yellow: #ffebbb;
$near-white: #f7f7f7;

$red: #9d534f;
$light-red: #e7040f;