/* Import statements */
@import 'tachyons-variable-overrides.css';
@import 'type.css';
@import 'buttons.css';
@import 'helpers.css';
@import 'nexus.css';
@import 'track.css';
@import 'sidebars.css';
@import 'components/tab-menu.css';
@import 'components/signal-chain.css';


/* Custom properties */
:root {
  --app-header-height: 4.2rem;
  --project-header-height: 4rem;
  --project-tracks-height: calc(100% - var(--app-header-height) - var(--project-header-height));
  --sidebar-width: 36rem;
  --footer-height: 22rem;

  --light-gray: #eeeeee;
  --dark-gray: #333;
  --near-black: #111;

  --dark-blue: #075f68;
  --blue: #0fe3ff;
  --light-blue: #52ebff;

  --yellow: #ffce55;
  --dark-yellow: #eab849;
  --light-yellow: #ffebbb;
  --near-white: #f7f7f7;

  --red: #9d534f;
  --light-red: #e7040f;
}


/* Global styles */
html, body {
  height: 100%;
}

div {
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

div::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--moon-gray);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

a {
  cursor: pointer;
  text-decoration-line: none;
}

::placeholder {
  color: var(--gray);
}

/* Header and Footer heights */
.app-header-height {
  height: var(--app-header-height);
}

.project-header-height {
  height: var(--project-header-height);
}

.project-tracks-height {
  height: var(--project-tracks-height);
}

.footer-height {
  height: var(--footer-height);
}

/* Drum file picker */
.drum-file-picker a {
  color: var(--yellow);
}

.drum-file-picker input::placeholder {
  color: var(--moon-gray);
}

.file-search-height {
  height: calc(100% - 10rem);
}

/* Script sidebar */
.scrim {
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.script-wrapper-height {
  height: calc(100% - 12rem);
}

@media (min-width: 40em) {
  .script-wrapper-height {
    height: calc(100% - 4rem);
  }
}

.cm-editor {
  /* height: calc(100% - 1.7rem); */
  height: calc(100%);
  border: solid 0.125rem var(--light-gray);
}



.progress-container {
  width: calc(100% - 2rem);
  height: 4px;
  background-color: #e0e0e0; /* Background color of the progress container */
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--light-blue); /* Color of the progress bar */
  position: absolute;
  top: 0;
  left: 0;
  animation: progressBarAnimation 2s ease infinite; /* Animation for the progress bar */
}

@keyframes progressBarAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}