@import 'colors';
@import 'type';
@import 'custom-properties';
@import 'ember-cli-tachyons-sass';
@import 'nexus.scss';
@import 'helpers.scss';

html, body {
  height: 100%;
}

a {
  @extend .pointer;
}

input:focus, button:focus {
  outline-color: $yellow;
}

::placeholder {
  color: $gray;
}


$app-header-height: 4rem;
$project-header-height: 4rem;
$project-tracks-height: calc(100% - #{$app-header-height} - #{$project-header-height});
$sidebar-width: 36rem;
$footer-height: 22.5rem;

.app-header-height {
  height: $app-header-height;
}

.project-header-height { height: $project-header-height; }
.project-tracks-height { height: $project-tracks-height; }
.footer-height { height: $footer-height; }

.sidebar-width { 
  width: 30%;
  max-width: $sidebar-width;
} 
.sidebar-max-width { 
  max-width: 30%;
} 

/* drum file picker*/
.file-search-height {
  height: calc(100% - 8rem);
}