$app-header-height: 4.2rem;
$project-header-height: 4rem;
$project-tracks-height: calc(100% - #{$app-header-height} - #{$project-header-height});
$sidebar-width: 36rem;
$footer-height: 20rem;


@import 'colors';
@import 'custom-properties';
@import 'tachyons-variable-overrides';
@import 'ember-cli-tachyons-sass';
@import 'type';
@import 'buttons';
@import 'helpers.scss';
@import 'nexus.scss';
@import 'track.scss';
@import 'sidebars.scss';
@import 'components/dropdown-menu.scss';
@import 'components/tab-menu.scss';
@import 'components/signal-chain.scss';

html, body {
  height: 100%;
}

div {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .5rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $moon-gray;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

a {
  @extend .pointer;
}

::placeholder {
  color: $gray;
}


.app-header-height {
  height: $app-header-height;
}

.project-header-height { height: $project-header-height; }
.project-tracks-height { height: $project-tracks-height; }
.footer-height { 
  height: $footer-height;
}

/* drum file picker*/
.drum-file-picker {
  a {
    color: $yellow;
  }
  input::placeholder {
    color: $moon-gray;
  }
  .file-search-height {
    height: calc(100% - 8rem);
  }
}

/* script sidebar*/

.scrim {
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
@media #{$breakpoint-not-small} {
  .script-wrapper-height {
    height: calc(100% - 4rem);
  }
}
.script-wrapper-height {
  height: calc(100% - 12rem);
}

.ace-editor-wrapper {
  height: calc(100% - 1.7rem);
}
