button {
  cursor: pointer;
}

.textbutton {
  background: transparent;
  border-color: transparent;
}

input:focus, button:focus {
  outline-color: $yellow;
  &.bg-dark-gray {
    background-color: darken($dark-gray, 10);
  }
}

.light-yellow-button {
  @extend .dark-fill;
  color: $dark-gray;
  background-color: $light-yellow;
}
button[disabled] {
  cursor: default;
}

button:not([disabled]):hover, button:not([disabled]):focus  {
  &.bg-dark-gray {
    background-color: darken($dark-gray, 10);
  }
  &.bg-light-gray {
    background-color: $moon-gray;
  }
  &.bg-light-yellow, &.light-yellow-button {
    background-color: lighten($light-yellow, 5);
  }
  &.bg-yellow {
    background-color: $dark-yellow;
  }
  &.bg-light-blue {
    background-color: darken($light-blue , 10);
  }
  &.bg-transparent {
    background-color: rgba(255, 255, 255, .25);
  }
}
