button {
  cursor: pointer;
  border-style: solid;
}

.textbutton {
  background: transparent;
  border-color: transparent;
}

input:focus, button:focus {
  outline-color: var(--light-blue);
}

.light-yellow-button {
  @extend .dark-fill;
  color: var(--dark-gray);
  background-color: var(--light-yellow);
}
button[disabled] {
  cursor: default;
}

button:not([disabled]):not(.selected):hover {
  &.bg-dark-gray {
    background-color: var(--dark-gray);
  }
  &.bg-light-gray {
    background-color: var(--moon-gray);
  }
  &.bg-light-yellow, &.light-yellow-button {
    background-color: var(--light-yellow);
  }
  &.bg-yellow {
    background-color: var(--dark-yellow);
  }
  &.bg-light-blue {
    background-color: var(--light-blue);
  }
  &.bg-transparent {
    background-color: rgba(255, 255, 255, .25);
  }
}

button:not([disabled]):active {
  &.bg-dark-gray {
    background-color: var(--dark-gray);
  }
  &.bg-light-gray {
    background-color: var(--moon-gray);
  }
  &.bg-light-yellow, &.light-yellow-button {
    background-color: var(--light-yellow);
    backdrop-filter: brightness(1.2);
  }
  &.bg-yellow {
    background-color: var(--dark-yellow);
  }
  &.bg-light-blue {
    background-color: var(--light-blue);
  }
  &.bg-transparent {
    background-color: rgba(255, 255, 255, .25);
  }
}