
/* Backgrounds */
.bg-dark-yellow {
   background-color: $dark-yellow;
}

.hover-bg-near-black:hover {
  @extend .bg-near-black;
}

.hover-bg-dark-yellow:hover {
  @extend .bg-dark-yellow;
}

/* Fonts */
.f8 {
  font-size: 0.065rem;
}

.white-{
  color: $white!important;
}

/* Flexbox */
.grow-1 { flex-grow: 1; }
.shrink-1 { flex-shrink: 1; }
.grow-0 { flex-grow: 0; }
.shrink-0 { flex-shrink: 0; }
.basis-auto { flex-basis: auto; }
.row-reverse { flex-direction: row-reverse; }

/*Display*/




.z-5 {
  z-index: 5;
}

.small-icon-btn {
  transform: scale(.5);
  transform-origin: top right;
}

/* Sizing*/
.w6 {
  width: $width-6;
}

.min-w-1 { min-width: $width-1; }
.min-w-2 { min-width: $width-2; }
.min-w-3 { min-width: $width-3; }
.min-w-4 { min-width: $width-4; }
.min-w-5 { min-width: $width-5; }
.min-w-6 { min-width: $width-6; }

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-0, .rotate-90, .rotate-270 {
  transition: all .5s ease;
  display: block;
}

/* SVG */
.small-square {
  width: 1.5rem;
  height: 1.5rem;
}

.beacon {
  color: $light-red;
  font-size: .25rem;
  width: 10px;
  height: 10px;
}

.light-fill {
  fill: $light-gray;
  svg {
    fill: $light-gray;
  }
}

.light-stroke {
  stroke: $light-gray;
  svg, g, path {
    stroke: $light-gray;
  }
}

.dark-fill {
  fill: $dark-gray;
  svg {
    fill: $dark-gray;
  }
}

.yellow-fill {
  fill: $dark-yellow;
  svg {
    fill: $dark-yellow;
  }
}