/*Tachyons-style helpers */

/* Flexbox */
.grow-1 { flex-grow: 1; }
.shrink-1 { flex-shrink: 1; }
.basis-auto { flex-basis: auto; }


/* Sizing*/
.min-w-1 { min-width: $width-1; }
.min-w-2 { min-width: $width-2; }
.min-w-3 { min-width: $width-3; }
.min-w-4 { min-width: $width-4; }
.min-w-5 { min-width: $width-5; }