/* Backgrounds */
.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-dark-yellow {
  background-color: var(--dark-yellow);
}

.hover-bg-near-black:hover {
  background-color: var(--near-black);
}

.hover-bg-dark-yellow:hover {
  background-color: var(--dark-yellow);
}

/* Fonts */
.f8 {
  font-size: 0.065rem;
}

.white- {
  color: var(--white) !important;
}

/* Flexbox */
.flex-0 {
  flex: 0;
}

.grow-1 {
  flex-grow: 1;
}

.shrink-1 {
  flex-shrink: 1;
}

.grow-0 {
  flex-grow: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.basis-auto {
  flex-basis: auto;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* Display */
.z-5 {
  z-index: 5;
}

.small-icon-btn {
  transform: scale(0.5);
  transform-origin: top right;
}

/* Sizing */
.w6 {
  width: var(--width-6);
}

.min-w-0 {
  min-width: 0;
}

.min-w-1 {
  min-width: var(--width-1);
}

.min-w-2 {
  min-width: var(--width-2);
}

.min-w-3 {
  min-width: var(--width-3);
}

.min-w-4 {
  min-width: var(--width-4);
}

.min-w-5 {
  min-width: var(--width-5);
}

.min-w-6 {
  min-width: var(--width-6);
}

/* Transform */
.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-0, .rotate-90, .rotate-270 {
  transition: all .5s ease;
  display: block;
}

/* SVG */
.small-square {
  width: 1.5rem;
  height: 1.5rem;
}

.beacon {
  color: var(--light-red);
  font-size: .25rem;
  width: 10px;
  height: 10px;
}

.light-fill {
  fill: var(--light-gray);
}

.light-fill svg {
  fill: var(--light-gray);
}

.light-stroke {
  stroke: var(--light-gray);
}

.light-stroke svg,
.light-stroke g,
.light-stroke path {
  stroke: var(--light-gray);
}

.dark-fill {
  fill: var(--dark-gray);
}

.dark-fill svg {
  fill: var(--dark-gray);
}

.yellow-fill {
  fill: var(--dark-yellow);
}

.yellow-fill svg {
  fill: var(--dark-yellow);
}
