:root {
  --num-steps: 16; /* Change the number of steps as needed */
  --step-width: 32.2px;
  --seq-width: calc(calc(32.2px * var(--num-steps)) + 4);
  --transparent-gray-1: rgba(10, 10, 10, 0.1);
  --transparent-gray-2: rgba(10, 10, 10, 0.2);

}

.nexus-select select {
	 background-color: var(--yellow);
}

.nexus-slider {
  display: inline;
}

.nexus-number input {
  background-color: transparent;
}

.slider-number input {
  text-align: center
}

.sequencer-width {
  width: var(--seq-width);
}

.multislider-width {
  width: var(--seq-width);
  flex: 0 0 var(--seq-width);
}


.slider-control-width {
  min-width: 8rem;
}


.multislider-bg {
  background-image: repeating-linear-gradient(
    90deg,
    var(--transparent-gray-1),
    var(--transparent-gray-1) var(--step-width),
    var(--transparent-gray-2) calc(var(--step-width)),
    var(--transparent-gray-2) calc(var(--step-width) * 2),
    var(--transparent-gray-2) var(--step-width)
  );  
}
