$seq-width: calc(32.2px * 16); 
$step-width: 32.2px;

.nexus-slider {
  display: inline;
}

.nexus-number input {
  background-color: transparent;
}

.sequencer-width {
  $step-width: 32.2px;
  width: $seq-width;
}
