
.right-sidebar-width,
.left-sidebar-width {
  width: $sidebar-width;
  max-width: 50%;
  position: absolute;
  z-index: 2;
}

.right-sidebar-width {
  right: 0;
}

.track-list-wrapper {
  width: 100%; 
  &.left-sidebar-open, &.right-sidebar-open {
    width: 50%;
  }
} 

@media #{$breakpoint-not-small} {
  .right-sidebar-width, .left-sidebar-width {
    width: 40%;
    position: relative;
  }

  .track-list-wrapper {
    width: 100%;
    &.left-sidebar-open, &.right-sidebar-open {
      width: 60%;
    }
    &.left-sidebar-open.right-sidebar-open {
      width: 30%;
    }
  } 
}

@media #{$breakpoint-medium} {
  // .left-sidebar-width, .right-sidebar-width {
  //   width: 33%;
  //   max-width: 33%;
  // }
}
