
.right-sidebar-width,
.left-sidebar-width {
  width: 100%;
  max-width: 100%;
  position: absolute;
  z-index: 2;
}
@media #{$breakpoint-not-small} {
  .right-sidebar-width {
    width: 40%;
    max-width: $sidebar-width;
    position: relative;
  }
  .left-sidebar-width {
    width: 40%;
    max-width: $sidebar-width;
    position: relative;
  }

  .track-list-wrapper {
    max-width: 100%;
  } 
}

@media #{$breakpoint-medium} {
  .left-sidebar-width, .right-sidebar-width {
    width: 33%;
    max-width: 33%;
  }
  .track-list-wrapper {
    max-width: 66%;
  }  
}
