.track-controls-container-pb {
  padding-bottom: 3.7rem;
}

.track-control-wrapper-mb {
  margin-bottom: 2.6rem;
}

.variables-overlay {
  table {
    border-collapse: separate;
    border-spacing: 0 .5rem;

    tr:nth-child(odd) {
      background-color: $near-black;
    }

    code, .code {
      padding: 0rem .5rem;
    }
  
    td, th {
      padding: .25rem .5rem;
      text-align: left;
    }

  }

  .node-docs table {
    td {
      padding-right: 2rem;
    }
    td.attributes {
      display: none;
    }
    thead {
      th:nth-of-type(3) {
        display: none;
      }
    }
  }
}

.channel-strip-w {
  width: 6.5rem;
}

.euclidean-param-label {
  width: 5.2rem;
  display: flex;
  justify-content: space-between;
}

.directory-btns {
  display: flex;
  align-items: center;
  &:hover {
    background-color: $dark-yellow;
  }
  &:not(:first-of-type):before {
    content: ' / ';
    background-color: $yellow;
    padding: 1rem 0;
  }
}
