h1 , 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a,
li,
span,
button,
label,
input {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
}

.ace-editor {
  div, span, textarea {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  }
}