h1 , 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
a,
li,
button,
label,
legend,
span,
form,
table,
input {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  font-weight: 600;
}

a {
  font-weight: 400;
}

table {
  thead {
    th {
      font-size: .85rem;
    }
  }
  td {
    font-size: .85rem;
    p {
      margin: .125rem 0;
    }
  }
  .name {
    font-weight: bold;
  }
}

.ace-editor, .code {
  div, span, textarea {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  }
}