<div
  class='channel-strip-w flex flex-column justify-between shrink-0 items-center ba pv3 tc ph2'
  ...attributes
>
  <h4 class='f7 mv0'>channel strip</h4>
  <span class='fw7 w3'>gain</span>
  <div
    {{nexus-ui
      'Slider'
      min=@channelStripGainControl.min
      max=@channelStripGainControl.max
      value=@channelStripGainControl.controlValue
      onChange=(fn @updateValue @channelStripGainControl)
      step=@channelStripGainControl.step
      size=(array 20 130)
    }}
  >
  </div>
  <span class='fw7 w3'>pan</span>
  <div
    {{nexus-ui
      'Slider'
      min=@channelStripPannerControl.min
      max=@channelStripPannerControl.max
      value=@channelStripPannerControl.controlValue
      onChange=(fn @updateValue @channelStripPannerControl)
      step=@channelStripPannerControl.step
      size=(array 80 20)
    }}
  >

  </div>

</div>