<ResponsiveModal class="relative">
  <div class="drum-file-picker center ma3 pa3 flex">
    {{#each this.directories as |directory idx|}}
      <FileDirectory
        @directory={{directory}}
        @filepath={{this.track.filepath}}
        @idx={{idx}}
        @onSelect={{action "onSelect"}}
      />
    {{/each}}
  </div>
  {{#if (or @saveTrackTask.isRunning this.fetchDirectory.isRunning)}}
    <ProgressBar class="absolute bottom-0 right-0" />
  {{/if}}
</ResponsiveModal>