<button
  class="bn f5 ttu flex items-center"
  type="button"
  title={{@label}}
  ...attributes
>
  {{svg-jar @icon class=@iconClass width=(or @iconWidth "20px") height=(or @iconHeight "20px")}}
  {{yield}}
</button>

