<div class="light-fill absolute right-2 top-0" ...attributes>
  <button class="bg-transparent bn pa3" {{on "click" this.toggleInfo}}>
    {{svg-jar "fi-question" width="20px" height="20px"}}
  </button>
</div>

{{#if this.open}}
  <p class="mv0 light-gray">
    {{yield}}
  </p>
{{/if}}

