<li
  {{scroll-into-view @selected @scrollBehavior}}
  class='pl1
    {{if
      @selected
      "bg-yellow dark-gray"
      "bg-dark-gray yellow hover-bg-near-black"
    }}'
  ...attributes
>
  {{yield}}
</li>