<table class="flex items-center" ...attributes>
  <td>
    <tr>
      <span class="f7">{{@label}}</span>
    </tr>
  </td>
  <td>
    <tr>
      <span id={{this.nexusId}} class="nexus-number"></span>
    </tr>
  </td>
</table>
