<button 
  class="w2 h2 pa2 f5 ba flex items-center {{if @selected "bg-dark-gray light-gray" "bg-light-gray dark-gray"}} {{if @highlight "b--dark-red bw2" "b--dark-gray" }} "
  title={{concat "Page " @label}}
  ...attributes
>
  {{@label}}
</button>