<button 
  class="small-square flex justify-center items-center f7 ba {{if @selected "bg-dark-gray light-gray" "bg-light-gray dark-gray"}} {{if @highlight "b--dark-red bw2" "b--dark-gray" }} "
  title={{concat "Page " @label}}
  ...attributes
>
  {{@label}}
</button>