{{yield}}
<div class="flex flex-wrap ph3" ...attributes>
  {{#each pageNumbers as |pageNum|}}
    <ButtonPrimary class="w3 mw2 pa2 f5" {{on "click" (fn this.selectPage pageNum)}} @label={{pageNum}}/>
  {{/each}}
</div>