{{yield}}
<div class="flex overflow-scroll mw100 pb3" ...attributes>
  {{#each pageNumbers as |pageNum|}}
    <button {{on "click" (fn this.selectPage pageNum)}}>{{pageNum}}</button>
  {{/each}}
</div>