<div class="flex shrink-1 basis-auto grow-1 h-100 min-w-6 z-2" ...attributes>
  <div class="relative flex bg-dark-gray w-100 flex-column">
    <IconButton class="bg-transparent absolute top-0 right-0 light-fill bn z-2 pa3" @icon="fi-cancel" {{on "click" @onCloseSidebar}} />
    {{yield}}
  </div>
</div>