<div class="mv3 pointer" ...attributes {{on "click" @selectActiveTrack}}>
  <div class="bg-dark-gray">
    {{#if @track.sequence}}
      {{nexus-sequencer 
        sequence=@track.sequence
        stepIndex=@track.stepIndex
        onChangeValue=(action "updateTrackSequence")
      }}
    {{/if}}
  </div>

  {{yield}}

  {{#if @isActive}}
    <CurrentTrackFooter class="bottom-0 absolute" @track={{@track}} />
  {{/if}}
</div>