<div class="flex w-100 pa2">
  {{#each @sequence as |step idx|}}
    <SequencerStep 
      {{on "click" (fn @onClickStep idx)}}
      @step={{step}} 
      @stepIndex={{seq-step-offset @stepIndex @sequence}} 
      @idx={{idx}}
    />
  {{/each}}
</div>