.tab-menu {
  /* button:not([disabled]):hover,
  button:not([disabled]):active {
    background-color: $dark-gray;
    /* border-bottom: $light-gray; */
}

.no-bottom {
  border-bottom: none;
  transform: translateY(0.125rem);
}
