.tab-menu {
  button:focus {
    z-index: 1;
    outline: 2px $dark-gray;
  }

  &:not(.verticle) {
    button:not(:last-of-type) {
      border-right: $light-yellow;
    }
  }
  
  .verticle {
    button:not(:last-of-type) {
      border-right: $light-blue;
    }
  }
  
}