{{!-- 

this shoudl be a subclass of Controls::Slider for start and end times

the stepSize property should have default options that are either
the sample duration divided by a multiple of 2, so that each step is a usefull
subdivision of the sample

This Ui should appear horizontally in the source panel?

Look into nexus ui range sldier in components directory of repo
(it seems to be incomplete or private)


buffer Range slider can have a checkbox to auto-set controllers
 --}}

 {{!-- <div {{nexus-ui "RangeSlider"}}></div> --}}