<div class="multislider-width multislider-bg">
  {{#let @sequence.length as |len|}}
    {{#let (mult len 32.2) as |width|}}
      <div
        {{nexus-ui-multislider
          min=@min
          max=@max
          stepIndex=@stepIndex
          numberOfSliders=len
          values=@values
          sequence=@sequence
          step=@stepSize
          size=(array width 140)
          onChange=@onChange
          smoothing=0
          mode='bar'
        }}
      >
      </div>
    {{/let}}
  {{/let}}
</div>

<div>
<p class="f7 dark-gray">{{display-float @transformedValue}}</p>
{{yield}}
</div>
{{!-- multislider controls:
  apply on: every step, only steps with beat
 --}}