<div
  ...attributes
  {{nexus-ui
    'Number'
    value=@value
    min=(or @min -20000)
    max=(or @max 20000)
    step=(or @stepSize 0.0001)
    onChange=@onChange
    onSetElement=@onSetElement
    size=(array 60 30)
  }}
></div>