<Controls::NumberBox
  @value={{@value}}
  @onChange={{@onChange}}
/>

<div
  class='mh3'
  {{nexus-ui
    'Slider'
    min=@min
    max=@max
    value=@value
    onChange=@onChange
    step=@step
    size=(array 20 120)
  }}
></div>
