<div class="mv3 ph3">
  <h2>Try a demo project or start a new one</h2>
  <ul class="list ph0">
    {{#each @model as |project|}}
      <li>
        <h3>
          {{#link-to "user.creator.project" project.creator project.slug class="blue"}}
            {{or project.title "untitled"}}
          {{/link-to}}
        </h3>
      </li>
    {{/each}}
  </ul>
  {{outlet}}
</div>

{{outlet}}