{{page-title "Oops, problem"}}

<div class="ma3 max-w-50 center">
  <h1 class="tc">Sorry, something went wrong while trying to load this project.</h1>
  <p class="mv3 center tc">
    See the console for more info.
  </p>
</div>