<div class="bg-light-gray">
  <h2>{{model.title}}</h2>
  {{outlet}}
  <button {{action "play"}}>play</button>
  <ul class="list">
    {{#each @model.tracks as |track|}}
      <li>{{track.sequence}}</li>
    {{/each}}
  </ul>
</div>