{{page-title 'Oops, problem'}}

<div class='ma3 max-w-50 center tc'>
  {{#if (eq this.model.errors.firstObject.status '401')}}
    <h1>
      You do not have permission to open this project.
    </h1>
  {{else if (eq this.model.errors.firstObject.status '404')}}
    <h1> Project Not Found </h1>
  {{else}}
    <h1>
      Sorry, something went wrong while trying to load this project.
    </h1>
    <p>{{this.model.errors.firstObject.title}}</p>
  {{/if}}

</div>