{{outlet}}
<div>
  <h2>about euclip  </h2>
  <section>
    <h4>Live Coding</h4>
  </section>
  <section>
    <h4>Dynamic UI</h4>
  </section>
  <section>
    <h4>Credits</h4>
    <div>Cracked</div>
    <div>Nexus UI</div>
    <div>Ember JS</div>
    <div>Icons made by Sophie Greenspan and <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a></div>
  </section>
</div>