<NavBar @logoWidth="180px"></NavBar>
<div class="ma3">
  <h1 class="tc">sorry something went wrong.</h1>
  {{#unless this.session.isAuthenticated}}
    <p class="tc">You may need to <LinkTo @route="login">log in</LinkTo></p>
  {{/unless}}
</div>