<nav>
  {{#if session.isAuthenticated}}
    [{{session.currentUser.username}}]
    <a {{action "invalidateSession"}}>
      Logout
    </a>
  {{else}}
    <LinkTo @route="login">login</LinkTo>
  {{/if}}
  <LinkTo @route="user.new">new</LinkTo>
</nav>
