<nav>
  <LinkTo @route="user.new">new</LinkTo>
</nav>
<div>
  {{#each @model.projects as |project|}}
    <LinkTo @route="user.creator.project" @model={{project.id}}>
      {{project.title}}
    </LinkTo>
  {{/each}}
  {{outlet}}
</div>