<NavBar @logoWidth="180px"></NavBar>
<div class="mh3">
  <h1 class="tc">sorry something went wrong.</h1>
  {{#unless session.isAuthenticated}}
    <p class="tc">You may need to <LinkTo @route="login">log in</LinkTo></p>
  {{/unless}}
</div>