<NavBar @logoWidth="180px">
  {{#if this.session.isAuthenticated}}
    {{!-- <span class="mh2">{{this.session.currentUser.username}}</span> --}}
    <a role="button" {{action "invalidateSession"}}>
      logout
    </a>
  {{else}}
    <LinkTo class="yellow" @route="login">login</LinkTo>
  {{/if}}
</NavBar>

{{outlet}}